<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Quizzzing</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<div class="w3-content w3-padding-large w2-margin-top" id="portfolio">
  <!-- Contact -->
    <div class="w3-light-grey w3-padding-large w3-padding-28 w3-margin-top" id="contact">
                <h3 class="w3-center"><b>Quizzzing</b></h3>
                <hr>
                <form action="quiz" method="post">
                    <div id="buts" class="buttons">
                        <ul>
                            <li><button role="button" class="w3-block button-quiz" name="quiz_button" type="submit" value="different">ALL CATEGORIES</button></li>
                            <li><button role="button" class="w3-block button-quiz" name="quiz_button" type="submit" value="video_games">VIDEO GAMES</button></li>
                            <li><button role="button" class="w3-block button-quiz" name="quiz_button" type="submit" value="books">BOOKS</button></li>
                            <li><button role="button" class="w3-block w3-block button-quiz" name="quiz_button" type="submit" value="computer_science">COMPUTER SCIENCE</button></li>
                            <li><button role="button" class="w3-block w3-block button-quiz" name="quiz_button" type="submit" value="geography">GEOGRAPHY</button></li>
                            <li><button role="button" class="w3-block w3-block button-quiz" name="quiz_button" type="submit" value="math">MATHEMATICS</button></li>
                            <li><button role="button" class="w3-block w3-block button-quiz" name="quiz_button" type="submit" value="music">MUSIC</button></li>
                            <li><button role="button" class="w3-block w3-block button-quiz" name="quiz_button" type="submit" value="sports">SPORTS</button></li>
                        </ul>
                    </div>
                </form>
    </div>
</div>



<footer class="footer">
        <a href="https://github.com/Sebastvin">Copyright &copy; Sebastian Malon 2022 <i class="fa fa-github"></i></a>
</footer>
</body>
</html>