<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="scripts/questions_complete.js"></script>
</head>
<body>


<div class="container">

    <div class="row clearfix">
        <h1>Quiz</h1>
    </div>
    <div class="col-md-1 column">
    </div>
    <div class="col-md-10 column">
        <p id="numberOfQuestion" class="lead">Question(1-10)</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" >
            </div>
        </div>

    <span id="question"></span> <span id="result"></span>
    <div id="buts">
      <button type="button" id="a"></button>
      <button type="button" id="b"></button>
      <button type="button" id="c"></button>
      <button type="button" id="d"></button>
    </div>
    <button type="button" id="next">Next</button>

    </div>
</div>
<h1 id="score"></h1>
<h1 id="end">----</h1>
<script>
let myQuestions = JSON.parse('{{data | tojson | safe}}');
let letters = ['a', 'b' ,'c' ,'d']

let questionIndex = 0;
let result = 0;


function renderQuestion() {

  let show = document.getElementById('question');
  show.innerHTML = myQuestions[questionIndex][0];

  for (var i=0; i<letters.length; i++) {
    const but = document.getElementById(letters[i]);
    but.innerHTML = myQuestions[questionIndex][i+1];
    }

  var numQuestion = questionIndex +1;
  document.getElementById("numberOfQuestion").innerText = "Question(" + numQuestion +"-10)";
  document.getElementById("score").innerText = result;
  let tmp = document.getElementById("result").innerText = myQuestions[questionIndex][5].toLowerCase();

}

document.getElementById("buts").addEventListener("click", function(e)
{
    const tgt = e.target;

    var answer = tgt.id;
    var clickedButton = document.getElementById(answer.toString());
    var lol = document.getElementById("result").innerText = myQuestions[questionIndex][5].toLowerCase();;


    if (answer.toString() === lol)
    {       result++;
            clickedButton.style.backgroundColor = 'green';
    }
    else
    {
        clickedButton.style.backgroundColor = 'red';
    }
})

renderQuestion();


document.getElementById("next").addEventListener("click", function(e)
{
  if (questionIndex <= myQuestions.length -2)
  {
    questionIndex++;
  }
  else
  {
    document.getElementById('end').innerText = "KONIEC";
  }

    document.getElementById('a').style.backgroundColor = 'white';
    document.getElementById('b').style.backgroundColor = 'white';
    document.getElementById('c').style.backgroundColor = 'white';
    document.getElementById('d').style.backgroundColor = 'white';
    var tmp = document.getElementById("result").innerText = myQuestions[questionIndex][5].toLowerCase();

    renderQuestion();
});





</script>

</body>
</html>