<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Quizzzing</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>



<!-- Page content -->
<div class="w3-content w3-padding-large w2-margin-top" id="portfolio">
  <!-- Contact -->
  <div class="w3-light-grey w3-padding-large w3-padding-28 w3-margin-top" id="contact">
    <h3 class="w3-center"><b>Quizzzing</b></h3>
    <h4 id="numberOfQuestions" class="w3-center">Question 1 of 10</h4>
    <hr>
     <div class="buttons">
        <div id="buts">
              <ul>
                  <li><p id="question"></p></li>
                  <li><button role="button" type="submit" class="w3-block button-quiz" id="a">Send</button></li>
                  <li><button role="button" type="submit" class="w3-block button-quiz" id="b">Send</button></li>
                  <li><button role="button" type="submit" class="w3-block button-quiz" id="c">Send</button></li>
                  <li><button role="button" type="submit" class="w3-block button-quiz" id="d">Send</button></li>
              </ul>
          </div>

          <button type="submit" class="w3-block button-quiz" id="next">NEXT QUESTION</button>
     </div>
      <div class="endgame">
            <h1 id="end"></h1>
           <ul>
               <li><button role="button" onclick="location.href='/'" class="w3-block button-quiz" type="button" id="menu" style="display: none">Go to menu</button></li>
               <li><button role="button" onclick="window.location.reload();" class="w3-block button-quiz" type="button" id="reset" style="display: none">Try again</button></li>
           </ul>
      </div>

  </div>


<!-- End page content -->
</div>

<footer>
    <a href="https://github.com/Sebastvin">Copyright &copy; Sebastian Malon 2022 <i class="fa fa-github"></i></a>
</footer>

<script>
let myQuestions = JSON.parse('{{data | tojson | safe}}');
let letters = ['a', 'b' ,'c' ,'d']

let questionIndex = 0;
let result = 0;


function renderQuestion() {
    document.getElementById('next').style.display = "none";
    let show = document.getElementById('question');
    show.innerHTML = myQuestions[questionIndex][0];

    for (var i=0; i<letters.length; i++) {
    const but = document.getElementById(letters[i]);
    but.innerHTML = myQuestions[questionIndex][i+1];
    }

    var numQuestion = questionIndex +1;
    document.getElementById("numberOfQuestions").innerText = numQuestion + " of 10";
    <!--Debug mode, after uncomment line below, beside question shows answer-->
    <!--  let tmp = document.getElementById("result").innerText = myQuestions[questionIndex][5].toLowerCase();-->
}

document.getElementById("buts").addEventListener("click", function(e)
{
    const tgt = e.target;

    var answer = tgt.id;
    var clickedButton = document.getElementById(answer.toString());
    var correctAnswer = myQuestions[questionIndex][5].toLowerCase();


    if (answer.toString() === correctAnswer)
    {
        result++;
        clickedButton.style.backgroundColor = 'green';
    }
    else
    {
        clickedButton.style.backgroundColor = 'red';
        document.getElementById(correctAnswer).style.backgroundColor = "green";
    }

    if (questionIndex <= myQuestions.length -1)
    {
        document.getElementById('next').style.display = "block";
    }


    document.getElementById('a').disabled = true;
    document.getElementById('b').disabled = true;
    document.getElementById('c').disabled = true;
    document.getElementById('d').disabled = true;
})

renderQuestion();


document.getElementById("next").addEventListener("click", function(e)
{
    if (questionIndex <= myQuestions.length - 2)
    {
        questionIndex++;

        document.getElementById('a').disabled = false;
        document.getElementById('b').disabled = false;
        document.getElementById('c').disabled = false;
        document.getElementById('d').disabled = false;


        document.getElementById('a').style.backgroundColor = 'white';
        document.getElementById('b').style.backgroundColor = 'white';
        document.getElementById('c').style.backgroundColor = 'white';
        document.getElementById('d').style.backgroundColor = 'white';
    }
    else
    {
        const boxes = document.getElementsByClassName("buttons");
        for (const box of boxes)
        {
            box.style.display = "none";
            box.style.visibility = "hidden";
        }

        document.getElementById('end').innerText = "Well done! Your score is " + result + " of 10";
        document.getElementById('reset').style.display = "block";
        document.getElementById('menu').style.display = "block";
        document.getElementById('next').style.display = "none";
    }

    renderQuestion();
});
</script>
</body>
</html>